In [2]:
%pylab inline
import pandas as pd
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [1]:
!ls | grep csv

all_budgets.csv
movies_with_sequels.csv
sequels_sorted.csv

In [38]:
df = pd.read_csv('all_budgets.csv', encoding='latin-1')

In [39]:
df = df.drop('index', axis=1)

In [40]:
df.head()

,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,12/18/09,Avatar,"$425,000,000","$760,507,625","$2,783,918,982"
1,5/24/07,Pirates of the Caribbean: At World's End,"$300,000,000","$309,420,425","$963,420,425"
2,7/20/12,The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
3,7/2/13,The Lone Ranger,"$275,000,000","$89,289,910","$259,989,910"
4,3/9/12,John Carter,"$275,000,000","$73,058,679","$282,778,100"

In [41]:
df.columns = ['release_date', 'movie', 'pbg', 'domestic_gross', 'ww_gross']

In [42]:
df.head()

,release_date,movie,pbg,domestic_gross,ww_gross
0,12/18/09,Avatar,"$425,000,000","$760,507,625","$2,783,918,982"
1,5/24/07,Pirates of the Caribbean: At World's End,"$300,000,000","$309,420,425","$963,420,425"
2,7/20/12,The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
3,7/2/13,The Lone Ranger,"$275,000,000","$89,289,910","$259,989,910"
4,3/9/12,John Carter,"$275,000,000","$73,058,679","$282,778,100"

In [43]:
df.pbg = df.pbg.str.strip('$')
df.pbg = df.pbg.str.replace(',', '')

In [44]:
df.domestic_gross = df.domestic_gross.str.strip('$')
df.domestic_gross = df.domestic_gross.str.replace(',', '')

In [45]:
df.pbg = df.pbg.astype(float)

In [47]:
df.domestic_gross = df.domestic_gross.astype(float)

In [46]:
len(df)

4933

In [31]:
print(len(df[df.pbg < 5e7]), len(df[df.pbg < 1e7]))

3923 1751

In [ ]:
9,900,000

In [48]:
ten_or_less = df[df.pbg < 1e7]

In [50]:
len(ten_or_less)

1751

In [51]:
candidates = ten_or_less[ten_or_less.pbg * 2 < ten_or_less.domestic_gross]

In [52]:
len(candidates)

589

In [59]:
good_candidates = ten_or_less[ten_or_less.pbg * 6 < ten_or_less.domestic_gross]

In [60]:
len(good_candidates)

276

In [63]:
good_candidates.sort(columns='domestic_gross', ascending=False)

,release_date,movie,pbg,domestic_gross,ww_gross
3612,4/19/02,My Big Fat Greek Wedding,5000000,241438208,"$374,890,034"
3875,12/15/39,Gone with the Wind,3900000,198680470,"$390,525,192"
4344,12/21/37,Snow White and the Seven Dwarfs,1488000,184925485,"$184,925,485"
3496,6/16/78,Grease,6000000,181813770,"$387,513,770"
3249,9/26/86,Crocodile Dundee,8800000,168134511,"$321,534,511"
3274,4/1/65,The Sound of Music,8200000,163214286,"$286,214,286"
3585,12/25/73,The Sting,5500000,159616327,"$159,616,327"
3382,12/5/07,Juno,7000000,143495265,"$231,450,102"
3954,7/28/78,National Lampoon's Animal House,3000000,141600000,"$141,600,000"
4866,7/14/99,The Blair Witch Project,60000,140539099,"$248,300,000"
4378,9/26/75,The Rocky Horror Picture Show,1200000,139876417,"$139,876,417"
3383,3/15/72,The Godfather,7000000,134821952,"$268,355,541"
3497,12/19/86,Platoon,6000000,132761962,"$132,761,962"
4070,1/1/74,Blazing Saddles,2600000,119500000,"$119,500,000"
3498,6/23/04,Fahrenheit 9/11,6000000,119114517,"$221,148,959"
4425,11/21/76,Rocky,1000000,117235147,"$225,000,000"
4562,8/11/73,American Graffiti,777000,115000000,"$140,000,000"
3384,6/29/12,Magic Mike,7000000,113721571,"$170,549,753"
3779,11/19/75,One Flew Over the Cuckoo's Nest,4400000,108981275,"$108,981,275"
4671,9/25/09,Paranormal Activity,450000,107918810,"$194,183,034"
3276,10/14/94,Pulp Fiction,8000000,107886108,"$212,886,108"
3794,3/19/82,Porky's,4000000,105124546,"$105,124,546"
3613,10/21/11,Paranormal Activity 3,5000000,104028807,"$202,053,386"
3351,12/13/89,Driving Miss Daisy,7500000,102647257,"$102,647,257"
3499,10/24/69,Butch Cassidy and the Sundance Kid,6000000,102308900,"$102,308,900"
3500,8/26/64,Mary Poppins,6000000,102300000,"$102,300,000"
3277,6/22/84,The Karate Kid,8000000,90815558,"$90,815,558"
3385,4/15/83,Flashdance,7000000,90463574,"$201,463,574"
3795,2/5/53,Peter Pan,4000000,87400000,"$87,400,000"
3614,10/28/05,Saw II,5000000,87025093,"$152,925,093"
...,...,...,...,...,...
4842,10/9/98,The Mighty,100000,2643689,"$6,113,025"
4717,3/10/00,God's Army,300000,2628829,"$2,643,618"
4713,1/1/34,It Happened One Night,325000,2500000,"$2,500,000"
4718,10/17/03,Pieces of April,300000,2498144,"$3,540,733"
4786,2/25/11,The Grace Card,200000,2430735,"$2,430,735"
4702,4/15/83,The Evil Dead,375000,2400000,"$29,400,000"
4871,3/16/01,Gabriela,50000,2335352,"$2,335,352"
4744,6/16/95,The Incredibly True Adventure of Two Girls in ...,250000,2210408,"$2,477,155"
4922,2/26/93,El Mariachi,7000,2040920,"$2,041,928"
4787,2/9/33,She Done Him Wrong,200000,2000000,"$2,000,000"
4833,6/15/12,Your Sister's Sister,120000,1597486,"$3,090,593"
4880,3/27/15,The Salt of the Earth,44936,1343349,"$4,154,211"
4812,7/22/11,Another Earth,175000,1321194,"$2,102,779"
4902,8/1/91,Slacker,23000,1227508,"$1,227,508"
4914,3/9/01,Dayereh,10000,673780,"$673,780"
4864,2/26/99,20 Dates,66000,536767,"$598,051"
4923,10/8/04,Primer,7000,424760,"$841,926"
4911,4/11/97,Pink Flamingos,12000,413802,"$413,802"
4872,11/12/10,Tiny Furniture,50000,391674,"$424,149"
4886,7/1/91,The Last Waltz,35000,321952,"$321,952"
4883,8/25/00,Smiling Fish and Goat on Fire,40000,277233,"$277,233"
4889,7/18/08,The Legend of God's Gun,30000,243768,"$243,768"
4898,1/14/00,The Terrorist,25000,195043,"$195,043"
4908,6/2/06,The Puffy Chair,15000,194523,"$195,254"
4931,8/5/05,My Date With Drew,1100,181041,"$181,041"
4915,4/28/06,Clean,10000,138711,"$138,711"
4909,4/2/10,Breaking Upwards,15000,115592,"$115,592"
4916,7/6/01,Cure,10000,94596,"$94,596"
4924,5/26/06,Cavite,7000,70071,"$71,644"
4926,4/2/99,Following,6000,44705,"$236,718"

In [12]:
df[df.pbg < 40e7]

TypeError: unorderable types: str() < float()